/*导航条部分*/
/*导航条第一部分:图片logo*/
.header h1.logo
{
	margin: 18px 0 0 23px;
	position: absolute;
}
.header h1.logo a    /*h1 .logo和h1.logo*/
{
	display: inline-block;
	background: url(../img/logo.png) no-repeat;
	width: 44px;
	height:44px;
	text-indent: -99em;
}
/*导航条第二部分：图标部分*/
.header ul.icons span
{
	line-height: 80px;
	color: #999999;
	margin: 0 21.5px;
	cursor: pointer;
}
/*导航条第三部分：隐藏部分*/
.header nav.menu
{
	text-align: center;
}
.header nav.menu li
{
	display: inline-block;
}
.header nav.menu li a
{
	line-height: 80px;
	padding: 0 15px;
	color: #7e7e7e;
	font-size: 14px;
}
.header nav.menu li a:hover
{
	color: #000000;
	background:white;
}
/*隐藏部分显示位置*/
@media screen and (max-width: 767px) {
	.header .row .nav.menu{
	margin-top: 100px;
	}
}
/*输入框*/
.search-input
{
	width:90%;
	height:45px;
	margin-left: 1%;
	border: 0;
	color: #999999;
	text-indent: 14px;
	font-size: 16px;
	font-weight: bold;
	background: #FFFFFF;
	outline: none;
}
/*下拉按钮的位置*/
.upposition{
	position: absolute;
	left: 50%;
	top: -15px;
	display: none;
}
/*li的背景颜色*/
@media screen and (max-width: 767px) {
	.nav1{
		 background: #F3F3F3;		    	    
}
/*加分割线*/
.nav11{
	border-bottom: 1px solid #e3e3e3;
	}
}
@media screen and (min-width: 767px ) {
	.nav1{
		background: #FFFFFF;
		}				
}
/* “搜索” 小图标*/
@media screen and (max-width: 360px ) {
	.glyphicon-search1
	{
		cursor: pointer;
		right: 50px;
		font-size: 20px;
		top: 8px;
		color: #999999;		
	}
}
@media screen and (max-width: 299px ) {
	.glyphicon-search1
	{
		cursor: pointer;
		right: 50px;
		font-size: 15px;
		top: 3px;
		color: #999999;		
	}
}
@media screen and (min-width: 360px) {
	.glyphicon-search1
	{
		cursor: pointer;
		right: 40px;
		font-size: 25px;
		top: 8px;
		color: #999999;		
	}
}
/*导航条:鼠标放上购物车出现提示框*/
.row1
{
	position: relative;
}
.shopping-cart-alert
{
	position: absolute;
	margin-top: 35px;
	width: 320px;
	display: none;
	transition: width .2s;
	right: 10px;	
}
.header .no-goods
{
	text-align: center;
    font-size: 14px;
	color: #999;
	padding: 15px;
	background: white;
	box-shadow: 0 0 7px rgba(6,0,1,.2);
}
/*导航条部分*/
/*小屏幕时*/
@media screen and (max-width:767px ) {
	/*导航条部分*/
   .header nav.menu li{
		display: block;
		text-align: left;
	}
	.header nav.menu
	{
		display: none;
		position: relative;
		margin-top: 20%;
	}
	.header ul.icons{
		right: -5px;
	}
	.header ul.icons span{
		font-size: 25px;
	}
}
/*大屏幕时 导航条部分导航条：hover出现红色底框*/
@media screen and (min-width:767px ) {
/*隐藏部分导航条:hover出现红色底框*/
.header nav.menu li a:after{
	content: " ";  /*在a超链接之后追加*/
	display: block;
	height: 0px;
	background-color: red;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	transition: all 0.5s;   /*动画过渡*/
}
nav.menu li a:hover:after{
	height: 5px;
}
/*导航条部分*/
.navbar-nav{
	float: none;
}
ul.icons{
	right: 10px;
	position: absolute;
	}
	/*hover购物车出现提示*/
	.shopping-cart-alert
    {
	   position: absolute;
	   margin-top: 0;
    }
}
			/*点击搜索按钮/出现遮罩层*/
			.oneplus-own
			{
				width: 600px;
				position: relative;
				margin-left: 20%;
				top: -100px;
			}
			.oneplus-own form
			{
				margin-left: -40px;
			}
			.oneplus-own ul li
			{
				list-style: none;
				padding-top: 12px;
				padding-left: 42px;
			}
			.oneplus-own ul li a
			{
				display: block;
				width: 88%;		
				height: 30px;
				color: #666;
				text-decoration: none;
				padding-top: 3px;
			}
			.oneplus-own ul li a:hover
			{
				background: #dcdcdc;
			}			
			.oneplus-own .input-text
			{
				border: 0;
				outline: none;
				height: 40px;
				font-size: 16px;
				width: 70%;
				text-indent: 14px;
			}
			.search-text
			{
				font-size: 22px;
			}
			.modal-header1
			{
				border-bottom:0;
				position: relative;
				padding: 10px;
				margin-left: -5px;
				/*padding-left: -15px;*/
			}
			.modal-lg1
			{
				width: 600px;
			}
			.modal-content1
			{
				border-radius: 0;
			}
			.close-btn
			{
				position: absolute;
				right: 30px;
				line-height: 40px;
				height: 40px;
				outline: none;
			}
			.modal-body1
			{
				padding: 0;
				/*padding-left: 15px;*/
			}
/*第二部分图片(col-md-4) 文字h4样式 / 三张并列图片*/
.row21
{
	margin-right: 0px;
}

.part2 .row21 .row22 a h4
{
	font-size: 20px;
	position: absolute;
	font-weight: 400;
	top: 7.8125%;
	left: 5.46875%;
	z-index: 9;
}
.part2 .row21 .row22 a h4
{
    margin: 0;
}

.row22 {
    padding-left: 0;
    padding-right: 0;
}
/*第二部分图片(col-md-4) 文字h4样式 / 三张并列图片*/
/*小屏幕时*/
@media screen and (max-width: 767px) {
    .part2 .row21 .row22 img
        {
        	width: 100%;
        }    
}
@media screen and (min-width:767px ) {
	.part2 .row21 img
    {
	    height: 360px;
    }
}
/*第三部分图片(我要参加)小屏幕时*/
.odop-text a .btn-default:after
{
	content: "";
	width: 0;
	height: 40px;
	display: block;
	position: absolute;
	top: 50%;
	margin-left:0;
	transition: all .1s;
	transform: translateY(-50%);
	background: white;
	z-index: -1;
	/*color: black;*/
	
}
.odop-text a .btn-default:hover:after{
	width: 130px;
	/*z-index: -1;*/
	transition: all 1s;
	color: black;
	position: absolute;
}
.odop-text a:hover
{
	color: black;
}
@media screen and (max-width:767px ) {
/*第三部分图片(我要参加)*/
.img-box
{
	position: relative;
}
.img-box .odop-text
{
	margin-top: -35px;
	position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -70px;
    text-align: center;
}				
.img-box .odop-text.h3
{
    font-size: 26px;
}
.img-box .odop-text .h4
{
	font-size: 14px;
	margin: 10px 0 14px;
}
.img-box .odop-text .btn-default
{
	display: inline-block;
    width: 70px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    background: 0 0;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    position: absolute;
    z-index: 999;
    border-width: 2px;
}
}
/*第三部分(我要参加)大屏幕时*/
@media screen and (min-width: 768px)  {
/*第三部分图片(我要参加)*/
.img-box
{
	position: relative;
}
.img-box .odop-text
{
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -70px;
	text-align: center;
}
.img-box .odop-text .h3
{
	font-size: 48px;
}
.img-box .odop-text .h4
{
	font-size: 24px;
	margin: 20px 0 40px;
}
.img-box .odop-text .btn-default
{
	display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    background: 0 0;
    color: #fff;
    border: 1px solid #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-transition: color .15s ease 0s;
    -o-transition: color .15s ease 0s;
    -webkit-transition: color .15s ease;
    -webkit-transition-delay: 0s;
    transition: color .15s ease 0s;
    position: relative;
    z-index: 1;
    border-width: 2px;
}
}

/*第四部分图片（"博客，新闻，视频")*/
.part4
{
	background: #f6f6f6;
}
/*.part4 .container
{
	/*background: #f6f6f6;*/
	/*padding: 5.98958% 0;
}*/
.container4
{
	padding: 5.98958% 0;
}
/*.part4 .container .row*/
.row41
{
	padding: 0 20px;
	max-width: 1200px;
	margin: 0 auto;
}
/*.part4 .container .row .col-md-4,.col-lg-4*/
.row42
{
	background: #fff;
	transition: all 0.3s; 
}
/*鼠标放上去图片有变化*/
/*错误:把col-md-4写为cod-md-4*/
/*.container .row .col-md-4*/
.row42:hover
{
	box-shadow: 0 17px 50px 0 rgba(0,0,0,0.19);
	transform: translate3d(0,-2px,0);
	transition: all 0.3s cubic-bezier(.55,0,.1,1);
}
/*.container .row .col-md-4 a*/
.row42 a
{
	background: transparent;
	text-decoration: none;
}
.row42 a img
{
	width: 100%;
}
.row42 .tit-desc-panel
{
	/*min-height: 110px;*/
	background: #fff;
	box-sizing: border-box;
	padding: 5.95855% 6.99482%;
	color: #333;
}
.row42 .tit-desc-panel h4
{
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 34px;
}
.row42 .tit-desc-panel p
{
	font-size: 12px;
	line-height: 1.5;
}
/*第四部分小屏幕时*/
@media screen and (max-width:767px ) {
/*第四部分图片（"博客，新闻，视频")*/
/*.container .row .col-md-4*/
.row43
{
	width: 90%;
	display: block;
	margin: 0 auto 20px;
}
}

/*第五部分：1小时售后，7天无理由，15天退货，30天换货*/
.row51 a
{
	color: black;
}
.row52
{
	margin-right: 0;
}
/*第六部分:关于部分 样式*/
.part6 .footer ul li
{
    list-style: none;

}
.part6 .footer a:hover
{
    text-decoration: none;
}
/*第六部分：一加产品、关于一加、服务支持、底部phone部分*/
/*大屏幕时*/
@media screen and (min-width:767px ) { 
	/*第六部分:关于部分浮动*/ 
	.part6
	{
		position: relative;
	} 		
    .part6 .footer
    {
        float: left;
        margin: 3% 0 0 10%;
    }
    .part6 .footer span
    {
        font-size: 20px;
        color: #333;
    }
    .part6 .footer ul li a
    {
        line-height: 30px;
        font-size: 14px;
        color: #666;
    }
    .part6 .footer ul
    {
        position: absolute;
        margin-left: -2.8%;
        margin-top: 2%;
    }
    .part6 .footerphone
    {
    	
        position:absolute;
        padding-left: 63%;
    }
    .part6 .footer .footer-phone font
    {
        display: none;
    }
    .part6 .footer .footer-phone a
    {
        font-size: 3.3rem;
        color: #666;
        white-space: nowrap;
    }
    .part6 .footer button
    {
        background: white;
        border: 1px solid grey;       		   
        height: 50px;
        display: block;
        border-radius: 0;
        font-size: 14px;
    }
    .part6 .footer .btn a
    {
        color: #999;
        width: 165px;
        display: block;
    }
}
/*第六部分：一加产品、关于一加、服务支持、底部phone部分*/
/*底部phone部分*/
/*小屏幕时*/
@media screen and (max-width:767px ) {
    .part6 .footer .footer-phone a
    {
        color: blue;
    }
    .part6 .footer span
    {
        display: block;
        line-height: 50px;
        padding: 10px;
        padding-left: 5%;
        border-top: 1px solid #f1f1f1;
    }
    .part6 .footer span h4
    {
    	color: #AAAAAA;
    }
    .part6 .footer ul
    {
        border-top: 1px solid #f1f1f1;
    }
    .part6 .footer button
    {
        background: white;
        border: 1px solid grey;	
        width: 96%;	    
        height: 45px;
        border-radius: 0;
        border: 1px solid #000;
        padding: 0;       		    
        font-size: 14px;
        margin-left:2%;
    }
    .part6 .footer .btn a
    {
        color: #999;
    }
    .row61
    {
    	display: none;
    }
    .row61 li
    {
    	padding-top: 2%;
    }
    .row61 li a
    {
    	color: #999;
    }
}
/*<!--最底部-->*/
        	.footer-bottom
        	{
        		position: relative;
        		margin-top: 25.6%;
        		background: #f2f2f2;
        		padding: 50px 0 0;
        		color: #333;
        	}
        	.footer-bottom a
        	{
        		text-decoration: none;
        		color: #10181f;
        	}
        	.icon-local
        	{
        		margin-top: 20px;
        		margin-right: 20px;
        		float: right;
        	}
        	.icon-legal
        	{
        		padding-bottom: 20px;
        		font-size: 12px;
                color: #969696; 
                padding-left:25px;
        	}
        	.icon-kx,.icon-smrz
        	{
        		bottom: -9px;
        		margin-left: 20px;
        	}
        	.icon-beian
        	{
        		margin-top: 10px;
        		display: block;
        	}
        	@media screen and (max-width: 767px) {
        		.icon-local
        	    {
        	    	position: absolute;
        		    margin-top: -55%;
        		    margin-left: 60%;
        		    font-size: 14px;
        		    line-height: 1;
        	    }
        	}
        	@media screen and (max-width: 300px) {
        		.icon-local
        	    {
        	    	position: absolute;
        		    margin-top: -75%;
        		    margin-left: 59%;
        		    font-size: 14px;
        		    line-height: 1;
        	    }
        	}
        	@media screen and (min-width:300px) and (max-width: 388px) {
        		.icon-local
        	    {
        	    	position: absolute;
        		    margin-top: -69%;
        		    margin-left: 48%;
        		    font-size: 14px;
        		    line-height: 1;
        	    }
        	}
        	@media screen and (min-width:388px) and (max-width: 440px) {
        		.icon-local
        	    {
        	    	position: absolute;
        		    margin-top: -62%;
        		    margin-left: 54%;
        		    font-size: 14px;
        		    line-height: 1;
        	    }
        	}
        	@media screen and (min-width:514px) and (max-width: 582px) {
        		.icon-local
        	    {
        	    	position: absolute;
        		    margin-top: -53%;
        		    margin-left: 62%;
        		    font-size: 14px;
        		    line-height: 1;
        	    }
        	}
        	@media screen and (min-width:582px) and (max-width: 666px) {
        		.icon-local
        	    {
        	    	position: absolute;
        		    margin-top: -50%;
        		    margin-left: 67%;
        		    font-size: 14px;
        		    line-height: 1;
        	    }
        	}
        	@media screen and (min-width:666px) and (max-width: 760px) {
        		.icon-local
        	    {
        	    	position: absolute;
        		    margin-top: -45%;
        		    margin-left: 70%;
        		    font-size: 14px;
        		    line-height: 1;
        	    }
        	}




